.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.backButton {
    position: absolute;
    top: 0;
    left: 0;
}

.counter {
    position: absolute;
    top: 0;
    text-align: right;
    right: 0;
}

.checkBlock {
    min-height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkTitle {
    margin-bottom: 8px;
}

.inputError {
    margin-top: 2px;
    height: 14pt;
}