.page {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.learnBlock {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  align-items: center;
  min-height: 64px;
}

.blocksContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  font-size: 13pt;
}

.blockWrapper {
  position: relative;
  margin: 12px;
}

.block {
  background: none;
  color: currentColor;
  position: relative;
  text-align: left;
  border: 1px solid currentColor;
  border-radius: 4px;
  padding: 16px;
  width: 300px;
  height: 332px;
  display: flex;
  flex-direction: column;
  font-size: 12pt;
  line-height: 16pt;
  transition: background-color .15s ease-in-out;
}

.block:hover,
.block:focus {
  background: rgba(255,255,255,.04);
}

.block_disabled {
  opacity: .64;
  pointer-events: none;
}

.checkbox {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.blockWrapper:hover .crossButton,
.blockWrapper:focus-within .crossButton {
  visibility: visible;
}

.crossButton {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 4px;
  padding: 0;
  border: none;
  width: 20px;
  height: 20px;
}

.blockTitle {
  opacity: .64;
  font-size: 80%;
  padding-bottom: 8px;
}

.row {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.learnedMark {
  display: inline-block;
  width: 20px;
}

.selectAllCheckbox {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.selectingBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectAllBlock {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.moreBlock {
  margin-top: 4px;
}

.addButton {
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
  background: none;
  color: currentColor;
  opacity: .64;
  border: none;
  font-size: 20pt;
}

.actionButton {
  padding: 4px 12px;
}