
.addButton {
    height: 100%;
    width: 100%;
    align-self: center;
    justify-self: center;
    background: none;
    color: currentColor;
    opacity: .64;
    border: none;
    font-size: 20pt;
}

.inputContainer {
    margin-bottom: 12px;
}