.container {
    position: fixed;
    bottom: 24px;
    left: 20px;
}

.tableContainer {
    max-height: 300px;
    overflow: auto;
    margin-bottom: 8px;
}

.table {
    border-radius: 4px;
    background: #111;
    color: white;
    border-collapse: collapse;
}

.tableHeader {
    position: sticky;
    top: 0;
    background: #6b6b6b;
    font-weight: bold;
}

.table td,
.placeholder {
    padding: 4px 8px;
}