.container {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.table {
    background: white;
    color: black;
    margin-bottom: 4px;
}

.table thead {
    background: #ccc;
    font-weight: bold;
}

.table td {
    padding: 2px 4px;
}

.placeholder {
    padding: 2px 4px;
}